_Exercise 2: Create a markdown cell with the title of the notebook_

# Data Science Tools and Ecosystem

_Exercise 3: Create a markdown cell for an introduction_

In this notebook, Data Science Tools and Ecosystem are summarized.

_Exercise 10: Insert a markdown cell to list Objectives_

**Objectives**

+ List popular Data Science Languages
+ List popular Data Science Libraries
+ List Data Science tools
+ Arithmetic expressions ( multiplication, addition, and division ).
+ Convert minutes to hours

_Exercise 4: Create a markdown cell to list data science languages_

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

_Exercise 5: Create a markdown cell to list data science libraries_

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. tidyverse
5. ggplot2
6. plotly
7. caret

_Exercise 6: Create a markdown cell with a table of data science tools_

| Data Science Tools |
|-------------------|
| Jupyter Notebook |
| RStudio |
| VS Code |

_Exercise 7: Create a markdown cell introducing arithmetic expression examples_

### Below are a few examples of evaluating arithmetic expressions in Python. 
----

In [4]:
# Exercise 8: Create a code cell to multiply and add numbers

# This is a simple arithmetic expression to multiply and add integers
(3 * 4 ) + 5

17

In [5]:
# Exercise 9: Create a code cell to convert minutes to hours

# Since 1 hr = 60 mins,

# This will convert 200 minutes to hours by dividing by 60 

200 // 60

3

## Author
-------

Randy Otoo